.left-side{
    float: left;
}

.padding-some{
    padding: 10px;
}

.right-side{
    float: right;
}

.padding-divs{
    padding:10px;
}

.my-cart-btn{
    color: white;
    text-decoration: none;
}

.my-cart-btn:hover{
    color: white;
    text-decoration: none;
}

.my-color{
    background-color: #ed4545;
}

.my-color:hover{
    background-color: #ED2E2E;
}

.my-minus{
    background: url(../images/minus.png) no-repeat;
    display: inline;
    width: 15px;
    height: 15px;
    border: none;
    float: left;
    margin-right: 2px;
    cursor:pointer;
}

.my-plus{
    background: url(../images/plus.png) no-repeat;
    display: inline;
    width: 15px;
    height: 15px;
    border: none;
    float: left;
    margin-right: 2px;
    cursor:pointer;
}

.my-count{
    width: 23px;
    display: inline;
    float: left;
    border: 1px solid #ebebea;
    border-radius: 10px;
    padding: 0 5px;
    font-size: 11px;
    margin-bottom: 2px;
    margin-right: 2px;
}

.my-client-data{
    border-bottom: 1px solid #ebebea;
    border-top: 1px solid #ebebea;
    padding-top: 10px;
    margin: 0 15px;
}

.b-right{
    position: absolute;
    float: right;
    right: 0px;
    top:3px;
}

.buy-button{
    height: 10px;
}

.my-class button {
    text-transform: uppercase;
    font: 11px 'Ubuntu-Medium', sans-serif;
    background: #ED4545;
    border-radius: 10px;
    border: none;
    color: #fff;
    display: block;
    transition: 0.3s all;
}

#orders{
    background: url(../images/orders.jpg) no-repeat 8px center;
}

#stock{
    background: url(../images/stock.jpg) no-repeat 8px center;
}

#favorites{
    background: url(../images/favorites.jpg) no-repeat 8px center;
}

#news{
    background: url(../images/news.jpg) no-repeat 8px center;
}

#statistics{
    background: url(../images/statistics.jpg) no-repeat 8px center;
}

#productsIcon{
    background: url(../images/products.jpg) no-repeat 8px center;
}

#companyInTheModeration{
    background: #ed4545;
    color: #fff;
    text-align: center;
    display: block;
    line-height: 30px;
    border-radius: 3px;
	display:none;
}

.clear-order{
    display: inline-block;
    float: left;
    color: #fff;
    border-radius: 3px;
    width: 148px;
    height: 32px;
    text-decoration: none;
    padding-top: 7px;
    margin-right: 15px;
    background: #979797;
	cursor: pointer;
}

.clear-order:hover{
    display: block;
    float: left;
    color: #fff;
    border-radius: 3px;
    width: 148px;
    height: 32px;
    text-decoration: none;
    margin-right: 15px;
    background: #979797;
}

.messageThis{
    background: url(../images/icon-letter.png) no-repeat center right;
}
.favoriteThis{
    background: url(../images/icon-heart.png) no-repeat center right;
}
.notesThis{
    background: url(../images/icon-note.png) no-repeat center right;
}

.favoriteProduct{
    float: right;
    display: block;
    width: 110px;
    font-size: 14px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 0px;
    color: black;
}

.favoriteProduct:hover{
    float: right;
    display: block;
    width: 110px;
    font-size: 14px;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    color: black;
    cursor: pointer;
}

.complete-order-background{
    color: #777;
    background: url(../images/Zakaz2.jpg) no-repeat center right;
}

.megamenu-right .complete-order{
    padding: 15px; background:#fff; border: 1px solid #e9eef2; border-radius: 3px; margin-bottom: 15px;
}

.bottom-op{
    bottom: -15px;
}

b button {
    text-transform: uppercase;
    font: 11px 'Ubuntu-Medium', sans-serif;
    background: #ED4545;
    border-radius: 10px;
    border: none;
    color: #fff;
    padding: 4px 8px;
    display: block;
    transition: 0.3s all;
}

.rating-company{
    cursor: pointer;
}

.rating-company:hover{
    cursor: pointer;
    text-decoration: none;
}

.yandexMap{
    min-height: 300px;
    max-height: 1000px;
}

#change-city{
    margin-top: 10px;
    padding-top: 10px;
}

.img-radius{
    top: -13px;
    width: 28px;
    height: 28px;
    display: block;
    border-radius: 100%;
    position: relative;
}

.panel-title .css-red-btn {
    float:right;
    background: #ed4545;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    padding: 3px 20px;
    min-width:114px;
}

.css-add-phone{
    float:left;
    margin-right: 5px
}

.css-delete-phone{
    float:left
}
.css-first{
    border-right: 2px solid #ebebea;
}
.css-second{
    border-right: 2px solid #ebebea; height: 268px; overflow: auto;
}
.css-third{
}
.css h3{
    margin-top: 0px;
}

.css a{
    text-decoration: none;
    color: black;
}
.css a h4{
    padding: 5px 5px 5px 5px;
}

.css a:hover{
    text-decoration: none;
}
.css a:hover h4{
    background: #e7e7e7;;
    color: black;
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
}
.abutton-red{
    background: #ed4545;
    color: #fff;
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
}

.affix {
    top: 0;
}
@media (max-width: 1200px) {
    .affix {
        position: static;
    }
}

.product_image{
	max-width: 50px;
	max-height: 50px;
}

.css-black{
	color: #060606;
}

.css-black:hover{
	color: #060606;
}

.css-red{
	background-color: #ed4545;
	border-color: #ed4545;
}

.css-grey{
	color: white;
	background-color: #ccc;
	border-color: #ccc;
}

.css-grey:hover{
	color: white;
	background-color: #ed4545;
	border-color: #ed4545;
}

.droppable{
	cursor: -webkit-grab;
}

#cssoptions{
	background: url(../images/options.png) no-repeat 8px center;
}

.css-tabs-wrapper{
    border-bottom: 1px solid #e9eef2;
    background: #FAFBFC;
    padding-left: 10px;
    border-radius: 3px;
}

.css-top-menu{
    font-size: 15px;
    border: none;
    padding: 0 5px;
    min-height: 50px;
    max-height: 100px;
    color: #93686c;
    line-height:50px;
}

.css-top-menu.active{
    border-bottom: 2px solid #ED4545;
}

.css-top-menu:hover{
    border-bottom: 2px solid #ED4545;
}

.css-bold{
    font-weight:bold
}

.css-hide{
    display: none;
}

.css-pointer{
	cursor:pointer;
}

.css-label{
    padding-left: 0px;
	padding-bottom: 3px;
}

.sortable-list{
    -webkit-padding-start: 0px;
}

.css-icon-currency{

}

.css-error{
    background: #ed4545;
    color: #fff;
    text-align: center;
    display: block;
    line-height: 30px;
    border-radius: 3px;
}

.css-icon-message{
    float: right;
    display: block;
    color: white;
    background-color: #ed4545;
    padding: 2px 7px 2px 7px;
    border-radius: 4px;
}

.css-icon-message-2{
    float: right;
    display: block;
    color: white;
    background-color: #cccccc;
    padding: 2px 7px 2px 7px;
    border-radius: 4px;
}

.css-red-input{
    display: block;
    float: left;
    color: #fff;
    border-radius: 3px;
    border: none;
    padding: 7px 20px;
}

/*
Ещё вариант с выпадающим списком, в общем подумай как-нибудь на досуге.
.dropdown:hover > .dropdown-menu {
    display: block;
}
Возможно это было зря, но только возможно
*/