@charset "utf-8";
/* CSS Document */
/*Страница товаров */
.product-content{background: #fff; border: 1px solid #e9eef2; border-radius: 3px; overflow: hidden; padding-bottom: 15px;}
.product-ul {font-size:14px;font-family:"Ubuntu-Light"; color:#000; font-weight:400;}
.count {color:#6d6d6d;}
.add-product {
	border-radius: 2px;
	background-color: rgb(237, 69, 69);
	width: 152px;
	height: 26px;
	border: none;
	margin-left: -15px;
}
.border-block {width:92%;height:40px;border-bottom: 1px solid #e9eef2; left:4%; right:4%; position:absolute;}
.add-product span {font-family: "Ubuntu-Light";color: rgb(255, 255, 255);font-size: 14px;}
.add-button-col {padding: 9px 15px;} .add-button-mobile-col {display:none;}
.product {padding:9px 15px;height:60px;}
.product .product-name {font-size:13px;font-family:"Ubuntu-Light"; color:#060606;font-weight:400; margin-bottom:0px;}
.product-delete {
	background: url(../images/delete.png) no-repeat;
	height: 15px;
	width: 11px;
	float: left;
	margin-right: 10px;
	margin-top: 1px;
}
.product-country {
	font-size: 13px;
	font-family: "Ubuntu-Light";
	color: rgb(87, 80, 80);
	margin-left: 36px;
	font-weight: normal;
}
.product-status {
	font-size: 13px;
	font-family: "Ubuntu-Light";
	color: rgb(206, 46, 46);
	margin-left: 7px;
	padding-left: 7px;
	border-left: 1px solid #000;
	font-weight: normal;
	height:12px;
	line-height:12px;
}
.product-price {font-size: 14px;font-family: "Ubuntu-Medium";color: rgb(0, 0, 0);float:left;}
.wrapper-text{padding-left: 15px;}
.product-edit {background:url(../images/edit.png) no-repeat; height: 15px;width: 15px;float:left;margin-left:10px;margin-top:1px; margin-bottom:10px}
.product-more {background:url(../images/more.png) no-repeat; height: 15px;width: 15px;float:left;margin-left:10px;margin-top:1px;margin-bottom:10px}
form input[type=checkbox], input[type=radio] {height: 15px;width: 15px;float:left;margin-top:1px;margin-left:10px;margin-bottom:10px;}
.product-buttons {min-height:50px; min-width:40px;padding-left:60px;}
.breadcrumb-block {border-bottom: 1px solid #e9eef2;background:#fafbfc;}
.breadcrumb-block>div>.breadcrumb {border:none;}
/*Страница товара*/
.custom-breadcrumb {background: #fafbfc; border: 1px solid rgba(245, 245, 245, 1); border-radius: 3px; display: block; border-bottom: 1px solid #e9eef2;}
.custom-breadcrumb li {margin-left:10px;font-size: 14px;}
.custom-breadcrumb a {color: #000;font-family: "Ubuntu"}
.custom-breadcrumb a:hover {color: #000;}
.custom-breadcrumb>.active {color: #000; font-weight:bold}
.custom-breadcrumb>li+li:before {color: #000; content: "\003E\00a0";}
.item-images {margin-left:15px; margin-top:15px;min-width:135px; float:right;}
.big-item-pic {border-radius: 2px;width: 134px;height: 134px; background-size:contain;margin-bottom:10px;}
.small-item-pic {
	width: 39px;
	height: 39px;
	border-radius: 1px;
	background: url(../images/add-image-small.jpg) no-repeat;
	background-size: contain;
	float: left;
	margin-right: 9px;
}
.last-small-pic {margin-right: 0px;}
.item-title {border-bottom: 1px solid #e9eef2;}
.item-content {
	margin-top: 15px;
	padding-bottom: 10px;
}
.item-gr{font-size:21px;font-family: "Ubuntu"}
.item-gr span{font-size:15px;font-family: "Ubuntu-Light"}
.buy-item {background: #ED4545;border-radius: 10px; width: 59px;height: 22px;border:none;padding: 4px 8px; margin-right:20px;}
.buy-item div {font-family: "Ubuntu-Medium";color: rgb(255, 255, 255);font-size: 11px;line-height:17px;}
.ot{font-size:11px; font-family: 'Ubuntu-Light';color: rgb(142, 142, 142);margin-right:10px;}
.item-content>.row {margin-left:-5px;}
.item-description ul{padding:0;}
.item-description ul li{margin-top:4px;color:#a0a1a3;font-size:15px;font-family:"Ubuntu-Medium"}
.item-description ul li span{color:#000;font-size:15px;font-family:"Ubuntu-Light";}
.item-action {margin-left:40px; padding:15px 15px; margin-right:30px}
.item-action p{font-family: "Ubuntu";color:#000;font-size:14px;line-height: 1;}
.product-mobile {display:none;} .product-screen {display:block;}
.item-action span {font-size:13px;}
.action-block {background:#fafbfd;}
.item-full {margin-left:0px; padding-left:0px}
/*Страница выдачи*/
.price-filter label {color:#000;font-size:14px;font-family:"Ubuntu";}
.price-border {border-right: 1px solid rgb(214, 219, 224);}
.price-filter input[type="text"] {width:50px; color:#000;font-size:14px;font-family:"Ubuntu";}
.other-filter button {border-radius: 2px;background-color: rgb(222, 222, 222); border:none; margin-right:5px; margin-top:5px;}
.other-filter button div {font-size: 11px;font-family: "Ubuntu";color: #fff;line-height:18px;}
.other-filter .active-button {background-color: rgb(237, 69, 69);}
.other-filter select { margin-bottom:10px;
	border-right: 1px solid rgb(214, 219, 224);
	border-left:none;border-top:none; border-bottom:none;color:#000;font-size:14px;font-family:"Ubuntu";margin-right:15px; -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
     background: url(../images/chevron-down.png) no-repeat right center; padding-right:30px;
}
.filter-content {background: #fff; border: 1px solid #e9eef2; border-radius: 3px; overflow: hidden; padding-bottom: 15px;}
.items-content {background: #fff; border: 1px solid #e9eef2; border-radius: 3px; overflow: hidden; padding-bottom: 15px;}
.sort-menu {border-bottom: 1px solid #e9eef2; min-height:40px; display:block;} .sort-menu-mobile {display:none} .sort-menu-screen {display:block}
.sort-menu ul{padding-left:0px;}
.sort-menu ul li {float:left; margin-right:15px;font-size: 14px;font-family: "Ubuntu";line-height:40px;}
.active-sort {border-bottom: 2px solid #ed4545; color:#000;}
.sort-menu ul li span{color:#999c9f;}
.red-li {color:#93686c;}
.sort {padding-left:0;font-size: 14px;font-family: "Ubuntu";height:20px; padding-right:30px;background:transparent url(../images/menu-down.png) center right no-repeat;border:none;margin-top:10px;}
.sort div{line-height:10px;}
.one-item {margin-top:0;margin-left:auto; margin-right:auto;}
.content .products > div {padding-right:1px; border:none;}
.item-img {background:url(../images/best-action.jpg) no-repeat;width: 72px;height: 78px; background-size:contain;float:left;margin-right:15px;margin-top:5px;}
.firm-title {margin-bottom:0px;}
.firm-title a{font-size: 14px;font-family: "Ubuntu"; font-weight:500; color:#000;}
.tag {background-color: rgb(91, 191, 223);border-radius: 1px; border:none; font-size: 13px;font-family: "Ubuntu-Medium"; color:#fff; margin-right:3px; margin-top:3px;}
.firm-att { float:left;font-size: 11px;font-family: "Ubuntu-Light"; color:#727272; margin-top:2px; margin-right:10px;}
.gift {background:url(../images/gift.png); width:15px; height:15px; background-size:contain; float:left; margin-right:5px;}
.mobile-filter {display:none;} .screen-filter {display:block;}
/*Custom media*/
@media only screen and (max-width : 480px) { 
.item-full {margin-left:25px; padding-left:25px}
.add-button-mobile-col {display:block; margin-left:auto; margin-right:auto;} .add-button-col {display:none;}
.add-product {
	width: 95%;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.product-mobile {display:block;} .product-screen {display:none;}
.item-images {margin:auto; margin-top:20px; margin-bottom:20px; width:100%;}
.item-action {margin-left:10px;margin-top:10px; width:100%;padding-left:15px;padding-right:15px;}
.mobile-filter {display:block;} .screen-filter {display:none;}
.price-filter {margin-bottom:20px;}
.sort-menu-mobile {display:block} .sort-menu-screen {display:none;}
.sort{margin:0;}
.sort-row {margin-top:10px;}
.one-item {margin-top:20px;}
.item-img {float:none;  margin-bottom:20px;}
}
