@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu.eot');
	src: url('../fonts/Ubuntu.eot?#iefix') format('em-bedded-opentype'),
	url('../fonts/Ubuntu.ttf') format('truetype'),
	url('../fonts/Ubuntu.woff') format('woff'),
	url('../fonts/Ubuntu.svg#Ubuntu') format('svg');
}
@font-face {
	font-family: 'Ubuntu-Medium';
	src: url('../fonts/Ubuntu-Medium.eot');
	src: url('../fonts/Ubuntu-Medium.eot?#iefix') format('em-bedded-opentype'),
	url('../fonts/Ubuntu-Medium.ttf') format('truetype'),
	url('../fonts/Ubuntu-Medium.woff') format('woff'),
	url('../fonts/Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
}

@font-face {
	font-family: 'Ubuntu-Bold';
	src: url('../fonts/Ubuntu-Bold.eot');
	src: url('../fonts/Ubuntu-Bold.eot?#iefix') format('em-bedded-opentype'),
	url('../fonts/Ubuntu-Bold.ttf') format('truetype'),
	url('../fonts/Ubuntu-Bold.woff') format('woff'),
	url('../fonts/Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
}

@font-face {
	font-family: 'Ubuntu-Light';
	src: url('../fonts/Ubuntu-Light.eot');
	src: url('../fonts/Ubuntu-Light.eot?#iefix') format('em-bedded-opentype'),
	url('../fonts/Ubuntu-Light.ttf') format('truetype'),
	url('../fonts/Ubuntu-Light.woff') format('woff'),
	url('../fonts/Ubuntu-Light.svg#Ubuntu-Light') format('svg');
}

@font-face {
	font-family: 'Ubuntu-LightItalic';
	src: url('../fonts/Ubuntu-LightItalic.eot');
	src: url('../fonts/Ubuntu-LightItalic.eot?#iefix') format('em-bedded-opentype'),
	url('../fonts/Ubuntu-LightItalic.ttf') format('truetype'),
	url('../fonts/Ubuntu-LightItalic.woff') format('woff'),
	url('../fonts/Ubuntu-LightItalic.svg#Ubuntu-LightItalic') format('svg');
}

@font-face {
	font-family: 'Ubuntu-Italic';
	src: url('../fonts/Ubuntu-Italic.eot');
	src: url('../fonts/Ubuntu-Italic.eot?#iefix') format('em-bedded-opentype'),
	url('../fonts/Ubuntu-Italic.ttf') format('truetype'),
	url('../fonts/Ubuntu-Italic.woff') format('woff'),
	url('../fonts/Ubuntu-Italic.svg#Ubuntu-Italic') format('svg');
}
h2{
	font-family: 'Ubuntu-Bold', Arial, sans-serif;
}
li{
	list-style: none;
}
a:focus, button:focus, select:focus{
	border: none; outline: none;
}
body{
	font-family: 'Ubuntu-Light', arial, sans-serif;
	background: #F0F2F5;
	font-size: 14px;
	color: #000;
	min-width: 320px;
}
img{
	max-width: 100%;
}
.badge{
	font-size: 12px; float: right; padding: 2px 5px;
}
.tooltip-inner{
	width: 400px; background: #FCFCFC; color: #000; border: 1px solid #E9EEF2;
	text-align: left; opacity: 1;
}
.tooltip-arrow{
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #000;
	display: none;
}
.dropdown-menu{
	left: inherit; right: 10px; min-width: auto; border: none;
}
.dropdown-menu>li>a{
	display: block; padding: 3px 10px; font-size: 15px;
}
.dropdown-menu>li>a:hover{
	background: #F0F2F5;
}
.form-horizontal .control-label{
	font-weight: normal;
}
.breadcrumb{
	padding: 13px 15px; margin-bottom: 0; border-radius: 3px 3px 0 0; background: #fafbfc; border-bottom: 1px solid #e9eef2;
}
.breadcrumb a{
	color: #000;
}
.wrapper{
	z-index: 20; background: #F0F2F5;
}
.header{
	padding: 10px 0; background: #f8fafc; border-bottom: 1px solid #E9EEF2; font-family: 'Ubuntu', sans-serif;
}
.logo{
	float: left; padding-top: 3px; margin-right: 32px;
}
.top-menu-button{
	background: #F0F2F5 url(../images/top-menu-button.png) no-repeat center center; width: 28px; height: 28px;
	border: none; float: left; margin-right: 15px; outline: none;
}
.top-menu-button.button-click{
	background: #DDDEE1 url(../images/top-menu-button.png) no-repeat center center;
}
.search{
	width: auto; background: #F0F2F5; display: table; border-radius: 17px; float: left; margin-right: 25px;
	border: 1px solid #F8FAFC; margin-left: 45px;
}
.search button{
	border: none; background: transparent; padding: 4px 10px;
}
.search.form-inline input{
	background: #F0F2F5; border: none; box-shadow: none; padding: 7px 10px; line-height: 14px; margin: 0; height: auto;
	font-size: 14px; width: 570px;
}
.search input:focus{
	box-shadow: none;
}
.search input::-webkit-input-placeholder, .search input::-moz-placeholder{
	color: #6d6d6d; font-size: 14px;
}
.search .search-filter{
	padding-right: 10px; cursor: pointer; height: 29px; background: #ed4545;  border-radius: 0px 15px 15px 0px;
}
.search .search-filter span{
	padding-top: 25%; padding-right: 5px; color: white; width: 28px; display: block;
	text-align: right;
}
.search-filter .dropdown-menu{
	font-size: 14px; right: 0; left: inherit; border:none; top: 23px; width: 90px;min-width: auto; text-align: right;
}
.search-filter .dropdown-menu a{
	padding: 3px 10px;
}
.search-filter .dropdown-menu a:hover{
	background: #F0F2F5;
}

.main-city{
    background: url(../images/map-icon.png) no-repeat center left;
    padding: 0 0 0 15px; 
	color: #6d6d6d;
	border: none;
}

.top-menu-right{
	float: right;
}
.top-menu-right .nav>li{
	display: block; float: left; margin: 2px; padding: 0 5px;
}
.top-menu-right>ul>li>a{
	display: block; height: 28px; border-radius: 3px; padding: 15px 10px;
}
.top-menu-right>ul{
	height: 32px; line-height: 32px;
}
.top-alert{
	background: #F8FAFC url(../images/alert-icon.png) no-repeat center center; width: 15px;
}
.top-cart{
	background: #F8FAFC url(../images/cart-icon.png) no-repeat center center; width: 19px;
}
.top-profile{
	background: #F8FAFC url(../images/profile-img-small.png) no-repeat center center; width: 28px;
}
.top-more{
	background: #F8FAFC url(../images/more-icon.png) no-repeat center center; width: 3px; height: 28px; border: none;
}
.top-more:hover{
	background: #F0F2F5 url(../images/more-icon.png) no-repeat center center; border-radius: 3px;
}
.top-menu-right .navbar-nav>li{
	margin: 0;
}
.top-menu-right .navbar-nav>li>.dropdown-menu{
	left: inherit; right: 0; min-width: auto; border: none; top: 56px;
}


.top-menu-right .navbar-nav>li>.dropdown-menu:after, .top-menu-right .navbar-nav>li>.dropdown-menu:before {
	bottom: 100%;
	left: 70%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.top-menu-right .navbar-nav>li>.dropdown-menu:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.top-menu-right .navbar-nav>li>.dropdown-menu:before {
	border-color: rgba(204, 204, 204, 0);
	border-bottom-color: #ccc;
	border-width: 11px;
	margin-left: -11px;
}


/* Mega-menu */
.two-col-wrapper{
	margin: 15px 0;
}
.two-col-wrapper .megamenu-left{
	background: #fff; border-radius: 3px; border: 1px solid #e9eef2; width: 150px; float: left; margin-right: 15px;
	position: absolute;
}
.megamenu-items-wrapper{
	padding-top: 6px; border-top: none; position: relative; padding-left: 0;
}
.megamenu-items-wrapper>li>a{
	color: #8e8e8e; display: block; font: 13px 'Ubuntu', sans-serif; border-left: 2px solid #fff;
	padding: 6px 10px 6px 13px;
}
.megamenu-items-wrapper>li>a:hover{
	background: #f8fafc; text-decoration: none; border-left: 2px solid #ed4545;
}
.hidden-item{
	display: none; position: absolute; top: -9px; left: 125px; z-index: 20; 
    float: left; width: 100%;
}
.hidden-item>div{
	margin-left: 39px; background: #fff; overflow: hidden; padding: 10px 15px; width: 975px; border-radius: 5px;
	min-height: 445px;  margin-top: 8px; border: 1px solid #e9eef2;
}
.hidden-menu-column{
	width: 12%; float: left; margin-right: 4%;
}
.hidden-menu-column:nth-child(6x+6){
	margin-right: 0;
}
.hidden-menu-column a{
	display: block; line-height: 12px; color: #8e8e8e;
}
.menu-parent-item{
	font: 13px 'Ubuntu-Medium', Arial, sans-serif; border-bottom: 1px solid #E2E2E2; margin-bottom: 5px; padding-bottom: 5px;
	/*margin-top: 20px;*/
}
.hidden-menu-column:first-child .menu-parent-item{
	margin-top: 0;
}
.megamenu-right{
	width: calc(100% - 150px - 15px); margin-left: 165px;
}
.megamenu-right .slider-banners{
	padding: 15px; background:#fff; border: 1px solid #e9eef2; border-radius: 3px; margin-bottom: 15px; min-height: 357px;
}
.megamenu-right .row{
	margin: 0;
}
.megamenu-right .col-sm-8{
	padding-right: 0;padding-left: 0; min-height: 325px;
}
.megamenu-right .col-sm-4{
	padding-right: 0; padding-left: 15px; min-height: 325px;
}
.megamenu-right .carousel-indicators{
	right: 40px; width: auto; left: inherit; bottom: 10px;
}
.megamenu-right .carousel{
	width: 100%;
}
.megamenu-right .carousel-inner .slide{
	background-position: center center; height: 325px; width: 100%;
}
/*.megamenu-right .carousel-inner>.item>img{
	width: 100%; 
}*/
.megamenu-right .carousel-indicators li{
	background: #fff; border: none;
}
.megamenu-right .carousel-indicators .active{
	background: #ed4545;
}
.main-actions-wrapper{
	float: left; width: 100%;
}
/*	.main-actions-wrapper img{
		width: 100%;
	}*/
.main-actions-wrapper a{
	display: block;
}
.main-actions-wrapper a div{
	background-position: center; height: 155px; width: 100%;
}
.main-actions-wrapper a:first-child{
	margin-bottom: 15px;
}
.mobile-banner{
	width: 100%; height: 300px; display: block; background-size: cover;
	background-position: center center; background-repeat: no-repeat; margin: 10px 0;
}
/* Левое меню с профилем*/
.profile-menu{
	background: #f0f2f5; position: absolute; top: 0; left: 15px; width: 150px; display: none;
}
.profile-menu ul{
	padding: 5px 0; border-bottom: 1px solid #E2E6ED; margin-bottom: 0;
}
.profile-menu ul:last-child{
	border-bottom: none;
}
.profile-menu li a {
	color: #8e8e8e; padding: 7px 8px 7px 35px; display: block;
	line-height: 14px;
}
.profile-menu li a:hover{
	text-decoration: none; border-radius: 3px;
}
.profile-menu ul:nth-of-type(1) li a{
	background: url(../images/item1.png) no-repeat 8px center;
}
.profile-menu ul:nth-of-type(2) li a{
	background: url(../images/item2.png) no-repeat 8px center;
}
.profile-menu ul:nth-of-type(3) li a{
	background: url(../images/item3.png) no-repeat 8px center;
}
.profile-menu ul:nth-of-type(1) li a:hover{
	background: #DEE3EA url(../images/item1.png) no-repeat 8px center;
}
.profile-menu ul:nth-of-type(2) li a:hover{
	background: #DEE3EA url(../images/item2.png) no-repeat 8px center;
}
.profile-menu ul:nth-of-type(3) li a:hover{
	background: #DEE3EA url(../images/item3.png) no-repeat 8px center;
}

/*  Адаптивное меню */
#menu{
	z-index: 1; display: none;
}
.slideout-menu {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
	width: 256px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	display: none;
}

.slideout-panel {
	position:relative;
	z-index: 1;
	will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
	overflow: hidden;
}

.slideout-open .slideout-menu {
	display: block;
}
.over{
	height: 100%; width: 100%; position: absolute; top: 0; right: 0; background: rgba(0,0,0,0.6); z-index: 20;
	display: none;
}
/* мобильное боковое меню */
.mobile-nav.navbar{
	height: 44px; background: #ed4545; border-color: #C5724F; margin-bottom: 0; min-height: 30px;
}
.mobile-nav.navbar .navbar-brand {
	display: inline-block; float: none; padding-left: 61px; height: auto; color: #fff; font-family: 'Ubuntu', sans-serif;
	padding-top: 11px; padding-bottom: 11px; font-size: 14px;
}
.mobile-nav.navbar .navbar-brand img{
	margin-top: -1px;
}
.mobile-nav.navbar .toggle-button {
	position: absolute; float: left; margin: 5px 11px; padding: 8px 10px;
	border: none; z-index: 2010;
}
.mobile-nav.navbar .toggle-button:hover{
	background: none;
}
.mobile-nav.navbar .toggle-button .icon-bar{
	background: #fff; width: 21px; height: 3px;
}
.mobile-nav.navmenu{
	background: #fff; width: 250px;
	height: 500px;
}
.mobile-nav.navmenu .mobile-nav-top{
	background: #ed4545;
}
.mobile-nav.navbar .dop-menu{
	position: absolute; top: 0; right: 0; padding: 7px 10px 5px 5px;
}
.mobile-nav.navbar .dop-menu a{
	display: block; margin-left: 5px; float: left; padding: 5px;
}
.mobile-nav-top{
	padding: 15px; position: relative;
}
.mobile-nav-top p{
	margin: 10px 0;
}
.mobile-nav-top a, .mobile-nav-top p{
	color: #fff;
}
.mobile-nav-top .menu-place{
	position: absolute; top: 15px; right: 15px; background: url(../images/map-icon-white.png) no-repeat center right; padding-right: 15px;
}
.mobile-nav-main{
	padding-top: 5px; padding-bottom: 10px; border-bottom: 1px solid #DDDDDD;
}
.mobile-nav-main li{
	list-style: url(../images/mobile-menu-link.png); padding: 5px 0;
}
.mobile-nav-main li a{
	padding: 5px; display: block; color: #000;
}
.mobile-nav-dop{
	padding-top: 5px;
}
.mobile-nav-dop li{
	list-style: url(../images/mobile-menu-link-grey.png); padding: 5px 0;
}
.mobile-nav-dop li a{
	padding: 5px; display: block; color: #000;
}
#mobile-profile-menu{
	position: absolute; width: 100%;
}
.mobile-search{
	width: 100%; background: #fff; height: 33px; border-bottom: 1px solid #E9EEF2; display: none;
}
.mobile-search .search{
	background: transparent; border: none; width: 100%;
}
.mobile-search .search.form-inline .form-group{
	margin-bottom: 0;
}
.mobile-search .search.form-inline input{
	background: transparent; padding: 9px 10px;
}
.mobile-search .search button{
	padding-top: 0;
}
.mobile-search .search-filter{
	float: right; padding: 7px 10px; margin-right: 20px;
}
.mobile-search .search-filter .dropdown-menu{
	top: 30px;
}



/* Преимущества сайта */
.privilleges{
	background: #fff; padding: 14px 0; border-radius: 3px;  border: 1px solid #e9eef2;
}
.privilleges .col-md-4{
	border-right: 1px solid #EEF0F3;
}
.privilleges .col-md-4:nth-of-type(3){
	border-right: 0;
}
.privillege img{
	display: block; float: left; margin-right: 15px;
}
.privillege p{
	color: #6b6b6b; padding-top: 5px; line-height: 14px;
}
.privillege p span{
	color: #ed4545;
}

/*Main-tab*/
.main-tab{
	margin-bottom: 15px;
}
.main-tab .tabs-wrapper{
	border: 1px solid #e9eef2; background: #fff; border-radius: 3px; position: relative;
}
.main-tab .all-actions{
	position: absolute; top: 15px; right: 20px; color: #000; font-size: 14px; padding-right: 20px; background: url(../images/arrow-actions.png) no-repeat center right;
}
.tabs-wrapper .nav-tabs{
	border-bottom: 1px solid #e9eef2; background: #FAFBFC; padding-left: 10px; border-radius: 3px;
}
.results .tabs-wrapper .nav-tabs{
	border-radius: 3px 3px 0 0 ;
}
.tabs-wrapper .nav-tabs>li>a{
	border-bottom: 2px solid #FAFBFC; font-size: 15px; color: #000; border: none; margin-right: 0; line-height: 50px;
	padding: 0 5px; margin-right: 5px;
}
.tabs-wrapper .nav-tabs>li.active>a, .tabs-wrapper .nav-tabs>li.active>a:hover, .tabs-wrapper .nav-tabs>li>a:hover, .tabs-wrapper .nav-tabs>li.active>a:hover, .nav-tabs>li>a:visited, .nav-tabs>li>a:active{
	background: none; border: none; border-bottom: 2px solid #ED4545; color: #93686c;
}
.tabs-wrapper .nav-tabs>li>a>span:last-child{
	color: #999c9f; padding-left: 5px;
}
.main-tab .best-actions{
	padding: 15px;
}
.main-tab .best-actions .col-md-6:nth-of-type(2n-1){
	padding-right: 7.5px;
}
.main-tab .best-actions .col-md-6:nth-of-type(2n){
	padding-left: 7.5px;
}
.main-tab .best-action{
	background: #FAFBFC; margin-bottom: 15px; border-radius: 3px; padding: 15px; overflow: hidden;
}
.main-tab .best-action img{
	float: left;
}
.main-tab .best-action .action-desc{
	padding-left: 87px; line-height: 14px;
}
.main-tab .best-action .action-company span:first-child{
	float: left;
}
.main-tab .best-action .action-company span:last-child{
	float: right;
}

.main-tab .best-providers{
	padding: 15px;
}
.main-tab .best-providers .col-md-6:nth-of-type(2n-1){
	padding-right: 7.5px;
}
.main-tab .best-providers .col-md-6:nth-of-type(2n){
	padding-left: 7.5px;
}
.main-tab .best-provider{
	background: #FAFBFC; margin-bottom: 15px; border-radius: 3px; padding: 15px; overflow: hidden; min-height: 152px;
}
.main-tab .best-provider img{
	float: left;
}
.main-tab .best-provider .provider-desc{
	padding-left: 87px; line-height: 14px;
}
.main-tab .best-provider .provider-info{
	margin-top: 5px;
}
/* Main-informer */
.main-informer{
	margin-bottom: 15px;
}
.main-informer .main-summa, .main-informer .main-subscribe{
	background: #fff; border: 1px solid #e9eef2; border-radius: 3px; padding: 15px; text-align: center;
}
.main-informer .main-summa p, .main-informer .main-subscribe p{
	margin-bottom: 0;
}
.main-informer .main-summa span{
	color: #ed4545; font-size: 36px; font-family: 'Ubuntu-Bold',sans-serif; text-align: center; width: 100%; display: block;
	line-height: 35px; margin-top: 5px;
}
.main-informer .main-subscribe p span{
	color: #ed4545;
}
.main-informer .main-subscribe .form-inline{
	margin-top: 12px; line-height: 20px;
}
.main-informer .main-subscribe .form-inline .form-group{
	margin-right: 20px;
}
.main-informer .main-subscribe .form-inline input{
	width: 250px; padding: 6px 15px; line-height: 14px; height: auto; font-size: 14px; border-radius: 0;
}
.main-informer .main-subscribe .form-inline button{
	float: right; padding: 6px 25px; font-size: 14px; color: #fff; background: #ed4545; line-height: 14px;
	transition: all 0.2;
}
.main-informer .main-subscribe .form-inline button:hover{
	background: #ED2E2E;
}


footer{
	overflow: hidden; padding-bottom: 15px;
}
footer .footer-nav{
	overflow: hidden; float: right; padding-left: 0;
}
footer .footer-nav li{
	float: left;
}
footer .footer-nav li a {
	display: block; padding: 5px; margin-left: 20px; color: #493c3c;
}
footer .footer-right{
	float: right; overflow: hidden; margin-top: 2px;
}
footer .footer-right span{
	float: left; display: block; margin-right: 10px; padding-top: 3px; color: #493c3c;
}
footer .footer-right .social-icons{
	float: left;
}

/* страница выдачи */
.content{
	width: calc(100% - 150px - 15px); margin-left: 165px; min-height: 465px;
}


/* страница поставщика */

.provider-top-lg .info{
	border: 1px solid #e9eef2; background: #fff; border-radius: 3px; margin-bottom: 15px;
}
.provider-top-lg .info .name{
	border-radius: 3px 3px 0 0; border-bottom: 1px solid #e9eef2; background: #fafbfd; position: relative;
}
.provider-top-lg .info h1{
	font: 14px 'Ubuntu-Light', sans-serif; line-height: 44px;  margin: 0; padding: 0 30px 0 15px;
	display: table; background: url(../images/check.png) no-repeat center right;
}
.provider-top-lg .info .status{
	position: absolute; top: 15px; right: 15px;
}
.provider-top-lg .info .status span{
	color: #a4a4a4; background: #F1F1F1; border-radius: 1px; padding: 3px 7px; font-size: 11px;
}
.provider .params{
	padding: 15px;
}
.provider-top-lg .info .params img{
	float: left; margin-top: 5px;
}
.provider-top-lg .params-left{
	padding-left: 107px;  color: #8e8e8e; display: block; width: 100%; margin-bottom: 0;
}
.provider .params-left li{
	overflow: hidden; padding: 3px 0 3px 25px;
}
.provider .params-left li:nth-of-type(1){
	background: url(../images/icon-money.png) no-repeat left center;
}
.provider .params-left li:nth-of-type(2){
	background: url(../images/icon-cart.png) no-repeat left center;
}
.provider .params-left li:nth-of-type(3){
	background: url(../images/icon-car.png) no-repeat left center;
}
.provider .params-left li:nth-of-type(4){
	background: url(../images/icon-paper.png) no-repeat left center;
}
.provider .params-left li span:first-child{
	float: left
}
.provider .params-left li span:last-child{
	width: 120px; float: right; color: #000;
}
.provider .params-left li span:last-child>span{
	width: auto; float: none; margin-left: 10px; padding: 5px 10px; color: #8e8e8e;
	cursor: pointer;
}
.provider .params-left li span:last-child>span:hover{
	background: #E7E7E7; border-radius: 50%;
}
.provider .params-right{
	padding-left: 0; margin-bottom: 0; color: #8e8e8e;
}
.provider .params-right li{
	padding-left: 0; padding: 3px 0 3px 0;
}
.provider .params-right li span:last-child{
	float: right;
}
.provider .params-right li.red{
	color: #e91717; font-family: 'Ubuntu', sans-serif;
}
span.no{
	background: url(../images/no.png) no-repeat center right; width: 13px; height: 17px;
}
span.yes{
	background: url(../images/yes.png) no-repeat center right; width: 13px; height: 17px;
}
.provider-top-lg .params .col-lg-3{
	border-left: 1px solid #e5e5e5;
}
.provider-top-lg .left{
	margin-bottom: 15px;
}
.provider-top-lg .left>.row>.col-lg-3{
	padding-right: 0;
}
.provider-top-lg .left>.row>.col-lg-9{
	position: relative;
}
.provider .desc{
	position: relative; color: #3a3a3a; padding: 15px 15px 30px 15px; line-height: 16px;
	z-index: 19; background: #fff; border-radius: 3px; border: 1px solid #e9eef2; overflow: hidden; height: 105px;
}
.product-content .desc{
	position: relative; 
	z-index: 19; overflow: hidden; height: 70px;
	padding-bottom: 20px;
}

.product-content .desc p {
    margin: 0 0 25px;


}
.rating-actions{
	padding: 15px 15px 25px 15px; background: #fff; border-radius: 3px; border: 1px solid #e9eef2; overflow: hidden; height: 105px;
	position: relative;
}
.product-content .desc {
	clear: both;
	float: left;
	width: 90%;
	min-height: 70px;
}
.provider .desc .expand, .product-content .desc .expand{
	position: absolute; bottom: 0; background: #fff; display: block; width: 100%; color: #6e6e6e; font-size: 13px; line-height: 30px;
	text-decoration: none; margin-left: -15px; padding-left: 15px;
}
.rating-actions, .provider .desc .expand span, .product-content .desc .expand span{
	padding-left: 10px;
}
.rating-actions .rating{
	overflow: hidden; margin-bottom: 5px;
}
.rating-actions .rating span{
	color: #ed4545; font: 16px 'Ubuntu-Bold', sans-serif; float: right; padding-top: 2px;
}
.rating-actions .actions a{
	display: block; color: #000; padding: 5px 0; cursor: pointer;
}


.provider-top-lg .right{
	padding-left: 0; margin-bottom: 15px;
}
.provider-top-lg .right>div{
	background: #fff; border: 1px solid #e9eef2; border-radius: 3px; margin-bottom: 15px; padding: 15px;
}
.provider-top-lg .right .cats{
	margin-bottom: 0;
}
.provider .all-contacts{
	padding: 8px 15px;
}
.provider .all-contacts a{
	color: #000; display: block; padding: 7px 0; cursor: pointer;
}
.provider .all-contacts a:hover{
	text-decoration: none;
}
.provider .all-contacts .time-work a{
	color: #8e8e8e;
}
.provider .all-contacts .time-work a span:nth-of-type(1){
	color: #000;
}
.provider .all-contacts span.caret{
	float: right; margin-top: 6px; display: block;
}
.provider .all-contacts>div{
	position: relative; border-bottom: 1px solid #ECECEC;
}
.provider .all-contacts>div:last-child{
	border:none;
}
.provider .all-contacts>div .dropdown-menu{
	top: 31px; width: 320px;  right: -45px; border: 1px solid #e9eef2; padding: 5px;
}
.provider .all-contacts .days{
	overflow: hidden;
}
.provider .all-contacts .days div{
	float: left; width: auto; text-align: center; padding: 5px 5px; font-size: 13px; border-radius: 2px;
}
.provider .all-contacts .days div span{
	display: block;
}
.provider .all-contacts .days div span:first-child{
	border-bottom: 1px solid #5BBFDF; margin-bottom: 5px; padding-bottom: 3px;
}
.provider .all-contacts .days div.today{
	background: #5BBFDF; color: #fff;
}
.provider .all-contacts .days div.today span:first-child{
	border-bottom: 1px solid #fff;
}
.provider .all-contacts .full-contacts{
	overflow: hidden;
}
.provider .full-contacts a.tel{
	font-size: 16px; display: table; padding: 3px 0;
}
.provider .full-contacts a.email{
	font-size: 13px; color: #3a3a3a; border:none;
}
.provider .full-contacts .socials{
	position: absolute; top: 7px; right: 10px;
}
.provider .full-contacts .socials a{
	padding: 2px 0;
}
.provider .full-contacts .socials ul{
	overflow: hidden; display: table; padding-left: 0; margin-bottom: 0;
}
.provider .full-contacts .socials ul li{
	float: left; padding-right: 2px;
}
.provider .full-contacts .socials>a{
	display: block; font-size: 13px; color: #fff; background: #ed4545; border-radius: 2px; text-align: center; width: 60px; padding: 2px 5px;
}
.provider .cats{
	overflow: hidden; margin-bottom: 0;
}
.provider .cats a{
	font: 13px 'Ubuntu-Medium', sans-serif; color: #fff; background: #5BBFDF; padding: 3px 10px;
	margin: 0 6px 8px 0; display: block; float: left; border-radius: 2px;
}
.provider-bottom .nav-tabs{
	margin-bottom: 15px;
}
.content .tab-content{
	background: #fff; border-radius: 0 0 3px 3px; border: 1px solid #E9EEF2; margin-bottom: 50px;
}
.content .filter{
	padding: 15px; background: #fafbfc; border-radius: 3px 3px 0 0; min-height: 75px; border-bottom: 1px solid #E9EEF2;
}
.filter .filter-price{
	padding-right: 15px; border-right: 1px solid #D6DBE0; display: table; float: left;
}
.filter .filter-price p{
	display: table;
}
.filter .filter-price span{
	padding: 0 3px;
}
.filter .filter-price input{
	max-width: 60px; padding: 0 5px; border: 1px solid #D6DBE0; color: #010101;
}
.filter .filter-cats-country{

}
.filter .filter-cats-country>div{
	float: left; padding: 0 15px; position: relative;
}
.filter .filter-cats-country>div>a{
	color: #000; cursor: pointer; padding: 0 5px 5px 5px; overflow: hidden; position: relative; display: block; height: 23px;
}
.filter .filter-cats-country>div>a:hover{
	text-decoration: none;
}
.filter .filter-cats-country .caret{
	position: absolute; top: 8px; right: 0;
}
.provider .filter .filter-country{
	border-right: none;
}
.provider .filter .filter-cats, .provider .filter .filter-country{
	width: 150px;
}
.filter .filter-cats, .filter .filter-country, .filter .filter-provider{
	width: 180px; border-right: 1px solid #D6DBE0;
}
.filter .filter-fabricator{
	width: 180px;
}
.filter .search-buttons{
	margin-top: 5px;
}

.filter .search-buttons button{
	background: #DEDEDE; color: #fff; font-size: 10px; border: none; border-radius: 2px; margin-right: 8px; padding: 2px 5px;
}
.filter .search-buttons button.check-button{
	background: #ED4545;
}
.content .products{
	padding: 0 15px;
}
.content .products>div{
	padding: 10px 0; padding-right: 140px; position: relative; border-bottom: 1px solid #EBEBEA;
}
.content .products>div:last-child{
	border: none;
}
.content .products>div>a{
	font-size: 13px; color: #060606; margin-bottom: 5px; display: block; width: 63%;
}
.content .products .small{
	margin-bottom: 0;
}
.content .products .small a{
	color: #575050; font-size: 11px;
}
.content .price-buy{
	 top: 15px; right: 0; overflow: hidden;
}
.content .price-buy>div{
	float: right; right:0px; text-align: center;
}
.content .price-buy>div:first-child{
	float: right; right:0px; margin-left: 5px;
}
.content .price-buy .price p{
	font-family: 'Ubuntu-Medium', sans-serif; margin-bottom: 0;
}
.content .price-buy .price a{
	color: #8e8e8e; font-size: 9px; display: none; margin-top: 5px;
}
.content .products>div:hover .price-buy .price a{
	display: block;
}
.content .price-buy .buy button{
	text-transform: uppercase; font: 11px 'Ubuntu-Medium', sans-serif; background: #ED4545; border-radius: 10px; border: none; color: #fff; padding: 4px 8px; display: block;
	transition: 0.3s all;
}
.content .price-buy .buy button:hover, .cart-wrapper .cart-btn:hover{
	background: #E14141;
}
.content .price-buy .buy span{
	color: #ce2e2e; font-size: 11px;
}

.provider-tab .provider-actions>div{
	background: #FAFBFC; margin-bottom: 15px; border-radius: 3px; padding: 15px; overflow: hidden;
}
.provider-tab .col-sm-8{
	padding-right: 0;
}
.provider-tab .provider-actions{
	margin-bottom: 15px; padding: 15px;
}
.provider-tab .provider-actions a{
	color: #000;
}
.provider-tab .provider-actions img{
	float: left;
}
.provider-tab .provider-actions .action-desc{
	padding-left: 87px; line-height: 14px;
}
.provider-tab .provider-actions .action-company span:first-child{
	float: left;
}
.provider-tab .provider-actions .action-company span:last-child{
	float: right;
}
.content .cart-wrapper{
	border: 1px solid #E9EEF2; background: #fff; font-size: 14px; margin: 0; border-radius: 3px;
	overflow: hidden;
	width: auto;
	/*position: fixed;*/
}
#myAffix {
	width: 306px;
}
.content .cart-result{
	padding: 12px 15px; position: relative; border-bottom: 1px solid #E9EEF2; background: #fafbfc;
}
.content .cart-result span{
	color: #8e8e8e; padding-left: 10px;
}

.content .double-arrow {
	height: 43px; width: 40px; position: absolute; top: 0; right: 0; border-left: 1px solid #E9EEF2; background: url(../images/icon-double-arrow.png) no-repeat center center;
}
.content .cart-wrapper .double-arrow:hover{
	background: #DEDEDE url(../images/icon-double-arrow.png) no-repeat center center;
}
.content .cart-wrapper .all-products{
	background: #fff; padding: 0 15px 10px 15px; /*max-height: 170px;*/ overflow-y: auto; margin: 10px 10px 10px 0;
}
.content .company-products{
	width: 100%;
}
.content .company-products p{
	position: relative; border-bottom: 1px solid #E9EEF2; z-index: 5; margin: 15px 0 10px 0; width: 100%; display: block;
}
.content .company-products p span{
	font-size: 11px; color: #8e8e8e; position: absolute; top: -7px; display: table; background: #fff; z-index: 10; padding-right: 15px;
}
.content .company-products ul{
	padding-left: 0; color: #060606; font-size: 10px;
}
.content .company-products ul li{
	padding: 3px 0; position: relative; overflow: hidden; height: 19px; width: 100%;
}
.content .company-products ul li span{
	top: 3px; font-family: 'Ubuntu-Medium', sans-serif; background: #fff; padding-left: 15px; padding-right: 5px;
}
.cart-wrapper .cart-btn{
	background: #ed4545; color: #fff; text-align: center; display: block; margin: 15px; line-height: 30px; border-radius: 3px;
}

/*  Страница выдачи */
.results-filter{
	margin-bottom: 15px;
}
.results-filter .filter{
	background: #fff; border: 1px solid #e9eef2; border-radius: 3px;
}
.results-filter .dropdown-menu{
	min-width: 150px;
}
.content.results .tab-content{
	border-top: none;
}
.content.results .tabs-wrapper .nav-tabs{
	border: 1px solid #E9EEF2; position: relative;
}
.results .tabs-wrapper .nav-tabs>li>a{
	line-height: 41px;
}
.results-tab .col-sm-8{
	padding-right: 0;
}
.filter-sorting{
	position: absolute; display: table; top: 12px; right: 15px; cursor: pointer;
}
.filter-sorting a{
	color: #000;
}
.filter-sorting .dropdown-menu{
	right: 0; top: 20px;
}
.results-filter-xs{
	display: none;
}
/* Страница профиля*/
.content.profile .col-sm-8{
	padding-right: 0;
}
.profile .dop-menu{
	background: #fff; border: 1px solid #e9eef2; padding: 0px 0 15px 0; border-radius: 3px;
}
.profile .navbar{
	border: none; margin-bottom: 0;
}
.profile .navbar-brand{
	display: none;
}
.profile .navbar-collapse.collapse{
	padding: 0;
}
.profile .dop-menu ul{
	width: 100%;
}
.profile .dop-menu ul li{
	display: block; float: none;
}
.profile .dop-menu ul li a{
	padding: 0; line-height: 30px; display: block; padding: 0 15px; border-left: 2px solid #fff; color: #000;
}
.profile .dop-menu ul li a:hover, .profile .dop-menu ul li.active a{
	border-left: 2px solid #ed4545; background: none;
}
.profile-content{
	background: #fff; border: 1px solid #e9eef2; border-radius: 3px; overflow: hidden;
}
.profile-content .form-control{
	height: 30px; border-color: #D3D9DE;
}
.profile-form{
	padding: 10px 15px; margin-top: 15px;
}
.profile-form .form-horizontal .form-group{
	margin: 0 0 15px 0;
}
.profile-form .form-horizontal .form-group.horiz-line{
	border-bottom: 1px solid #EBEDF0; padding-bottom: 15px;
}
.profile-form .form-horizontal .checkbox{
	padding-top: 0; min-height: 20px;
}
.profile-form .form-horizontal textarea{
	overflow-y: visible; height: auto;
}
.profile-form .form-horizontal .control-label{
	padding: 5px 0 0 0;
}
.profile-form .form-horizontal .logo-img{
	position: relative; display: table; margin-bottom: 15px;
}
.profile-form .form-horizontal .logo-img img{
	border: 1px solid #D3D9DE; border-radius: 3px; margin-right: 25px;
}
.profile-form .form-horizontal .logo-img a{
	position: absolute; top: 0; right: 0; background: #D3D9DE;
}
.profile-form .form-horizontal .logo-img a span{
	color: #fff; font-size: 13px; padding: 0 3px;
}
.profile-form .work-day{
	margin-bottom: 12px;
}
.profile-form .work-day span{
	padding-top: 5px; display: inline-block;
}
.profile-form .work-day span:nth-of-type(1){
	padding-right: 10px; width: 30px;
}
.profile-form .work-day span:last-child{
	width: 15px; height: 15px; background: #d3d9de; margin-left: 15px; cursor: pointer;
}
.profile-form .work-day span.check-day:last-child{
	background: url(../images/check-day.png) no-repeat;
}
.profile-form .work-day input{
	width: 65px; display: inline-block; margin: 0 3px; padding: 0 12px;
}
.profile-form .btn-profile{
	background: #F73442; color: #fff; border-radius: 0; padding: 6px 25px; transition: 0.2s all;
}
.profile-form .btn-profile:hover{
	background: #EA323E;
}
.profile-form .input-index{
	float: left; width: 110px; padding: 0 15px;
}
.profile-form a{
	color: #8e8e8e; margin-top: 10px; display: block;
}
.profile-form .input-phone{
	width: 210px; float: left; padding: 0 0 0 15px;
}
.profile-form .input-phone input{
	float: left; width: 150px; margin-right: 15px;
}
.profile-form .input-phone span{
	float: left; padding-top: 5px; color: #A9AEB2;
}
/*.profile-form .form-group>div input:nth-of-type(2), .profile-form .form-group>div input:nth-of-type(3){
	margin-top: 10px;
}*/
.profile-form .add-email, .profile-form .add-home-phone, .profile-form .add-mobile-phone {
	background: url(../images/add-more.png) no-repeat; width: 15px; height: 15px; display: block;
}
.profile-form .delete-email, .profile-form .delete-home-phone, .profile-form .delete-mobile-phone{
	background: url(../images/delete-more.png) no-repeat; width: 15px; height: 15px; display: block;
}
.profile-form .form-group .col-xs-1{
	padding: 5px 0 0 0; cursor: pointer;
}
.profile-form .vk-link{
	width: 19px; height: 16px; background: url(../images/vk-provider.png) no-repeat; display: block;
}
.profile-form .fb-link{
	width: 19px; height: 16px; background: url(../images/facebook-provider.png) no-repeat; display: block;
}
.profile-form .form-group .col-xs-2{
	padding: 0;
}
.profile-form .form-horizontal .form-group .width-175{
	width: 175px;
}
.profile-form .form-horizontal .form-group .width-90{
	width: 90px;
}
.profile-form .form-horizontal .form-group .width-60{
	width: 60px;
}

.profile-content .add-product-link{
	position: absolute; top: 10px; right: 15px;
}
.profile-content .add-product-link a{
	padding: 0 30px; line-height: 27px;  background: #ed4545; color: #fff; display: block; border-radius: 3px;
}
.profile-content .breadcrumb{
	position: relative;
}
.profile-products{
	padding: 0 15px 15px 15px;
}
.profile-product{
	padding: 15px 0; border-bottom: 1px solid #EBEBEA; position: relative;
}
.profile-product.not-available .product-name, .profile-product.not-available .product-price{
	color: #b6b7b9;
}
.profile-product .product-name{
	overflow: hidden; font-size: 13px; color: #060606; width: 100%; padding-right: 100px;
}
.profile-product .product-name p{
	display: table; float: left; border-right: 1px solid #EBEBEA; padding-right: 10px; margin-bottom: 0;
}
.profile-product .product-name span{
	padding: 0 10px; border-right: 1px solid #EBEBEA; float: left;
}
.profile-product .product-name .status{
	color: #ce2e2e;
}
.profile-product .product-price{
	float: left; font: 14px 'Ubuntu-Medium', sans-serif; padding: 2px 10px 0 10px;
}
.profile-product .product-actions{
	margin-bottom: 0; position: absolute; top: 15px; right: 0; padding-left: 0;
}
.profile-product .product-actions>li{
	float: left; position: relative;
}
.profile-product .product-actions>li>a{
	width: 15px; height: 20px; background-position: center; display: block; margin: 0 5px;
}
.profile-product .product-actions>li input{
	margin: 5px;
}
.delete{
	background: url(../images/delete.png) no-repeat;
}
.edit{
	background: url(../images/edit.png) no-repeat;
}
.more{
	background: url(../images/more.png) no-repeat;
}
.input-group.price{
	padding: 0 15px; width: 175px;
}
.profile-content .checkbox label{
	display: block; padding-bottom: 5px;
}
.profile-content .grey{
	color: #8e8e8e;
}

.profile-content .product-img{
	overflow: hidden; margin-bottom: 20px;
}
.profile-content .product-img>img{
	float: left; margin-right: 10px;
}
.profile-content .small-img{
	overflow: hidden; float: left;
}
.profile-content .small-img img{
	float: left; margin-right: 10px;
}
.profile .action-menu{
	background: #fff; padding: 0 15px; border: 1px solid #E9EEF2; border-radius: 3px;
}
.profile .action-menu li a{
	padding: 10px 0; border-bottom: 1px solid #ECECEC; color: #000;padding-right: 20px; background-position: right center;
}
.profile .action-menu li:last-child a{
	border-bottom: none;
}
.profile .action-menu ul li:nth-of-type(1) a, .profile .action-menu ul li:nth-of-type(1) a:hover{
	background: #fff url(../images/save.png) no-repeat right center;
}
.profile .action-menu ul li:nth-of-type(2) a, .profile .action-menu ul li:nth-of-type(2) a:hover{
	background: #fff url(../images/cancel.png) no-repeat right center;
}
.profile .action-menu ul li:nth-of-type(3) a, .profile .action-menu ul li:nth-of-type(3) a:hover{
	background: #fff url(../images/save-add-more.png) no-repeat right center;
}
.profile .col-sm-9{
	padding-right: 0;
}

/* страница регистрации и авторизации */
.wrapper.reg{
	background-image: url(../images/registration-bg.jpg); background-repeat: no-repeat;
	position: absolute; top: 0; right: 0; left: 0; bottom: 0; margin: auto; height: 100%;
	background-size: cover;	background-position: center top;
}
.header-reg{
	height: 45px; background: #f8fafc;
}
.logo-reg{
	display: table; margin: 0 auto; padding-top: 11px;
}
.reg-wrapper{
	background: #fff; border-radius: 3px; border: 1px solid #e9eef2;
	display: table; margin: 30px auto; width: 540px;
}

.lrg {
	width: 780px;
}
.reg-top{
	background: #fafbfc; padding: 13px; overflow: hidden; border-radius: 3px;  border-bottom: 1px solid #e9eef2;
}
.reg-top h1{
	font-size: 16px; display: inline-block; margin: 0;
}
.reg-top-right{
	float: right;
}
.reg-top-right span{
	color: #89898a; font-size: 13px; margin-right: 15px;
}
.reg-top-right a{
	font-size: 16px; color: #000; display: inline-block;
}
.reg-form{
	margin-top: 20px;
}
.check-result{
	width: 20px; height: 20px; display: inline-block;
	margin-top: 8px; float: left;
}
.check-result.check-on{
	background: url(../images/check-on.png) no-repeat;
}
.check-result.check-no{
	background: url(../images/check-no.png) no-repeat;
}
.check-text{
	color: #89898a; font-size: 13px; display: block; float: left; padding: 10px 0 0 10px;
}
.reg-input{
	padding: 0;
}

.reg-sub{
	padding: 0;
}

.reg-input .form-control{
	border-radius: 0;
}
.form-horizontal.reg-form .form-group{
	margin-right: 0; margin-left: 0;
}
.grey-line{
	border-top: 1px solid #ebedf0; margin-bottom: 15px;
}
.red-button{
	background: #f73442; color: #fff; font-size: 14px; border: 1px solid #f73442;
}
.pagination{
	float: right;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
	color: #000;
}

/*корзина*/
.cart-header.breadcrumb{
	overflow: hidden; padding: 0;
}
.cart-header div{
	float: left; padding: 15px; color: #6d6d6d;
}
.cart-header div:nth-of-type(1){
	color: #000;
}
.cart-header div:nth-of-type(2){
	border-right: 1px solid #e9eef2; border-left: 1px solid #e9eef2;
}
.cart-header div span{
	color: #000;
}
.cart-header .red-button{
	color: #fff; padding: 6px 25px; float: right; margin: 7px 15px 0 0; border-radius: 3px;
}
.cart-provider{
	overflow: hidden; padding: 15px 15px 0 15px;
}
.provider-name{
	position: relative; border-bottom: 1px solid #ebebea; padding-top: 20px; font-size: 13px;
}

.provider-name span:nth-of-type(1){
	position: absolute; top: 5px; padding: 0 10px 0 20px; background: #fff url(../images/cart-arrow.png) no-repeat left center;
}
.provider-name span:nth-of-type(2){
	position: absolute; top: 5px; right: 0; background: #fff; padding-left: 10px;
}
.cart-product{
	margin-top: 15px; position: relative; border-bottom: 1px solid #ebebea;
}
.cart-product:last-child{
	border: none;
}
.cart-product .delete{
	width: 15px; height: 20px; display: block; float: left; margin-top: 5px;
}
.cart-product p{
	display: table;
}
.cart-product .product-info{
	margin:0 130px 0 20px; font-size: 13px;
}
.cart-product .product-info p{
	padding-top: 5px;
}
.cart-product .product-info p span:nth-of-type(1){
	padding-right: 12px; border-right: 1px solid #ebebea;
}
.cart-product .product-info p span:nth-of-type(2){
	padding-left: 12px; padding-right: 12px;  border-right: 1px solid #ebebea;
}
.cart-product .product-info p span:nth-of-type(3){
	padding-left: 12px; color: #ed4545;
}
.cart-product .product-name{
	color: #000; font-size: 13px;
}
.cart-product-right{
	overflow: hidden; width: 130px; position: absolute; top: 0; right: 0;
}
.cart-product-right .count{
	float: left; display: block; overflow: hidden;
}
.cart-product-right .count button{
	display: inline; width: 15px; height: 15px; border: none; float: left; margin-right: 2px;
}
.cart-product-right .count input{
	width: 25px; display: inline; float: left; border: 1px solid #ebebea; border-radius: 10px; padding: 0 5px; font-size: 10px; margin-bottom: 2px;
	margin-right: 2px;
}
.cart-product-right .count button.plus{
	background: url(../images/plus.png) no-repeat;
}
.cart-product-right .count button.minus{
	background: url(../images/minus.png) no-repeat;
}
.cart-product-right .price{
	float: right; font-size: 15px; font-family: 'Ubuntu-Medium', Arial, sans-serif;
}
.cart-total{
	border-top: 1px solid #ebebea; border-bottom: 1px solid #ebebea; padding: 10px 0; margin: 0 15px;
	overflow: hidden;
}
.cart-count-right{
	float: right; font-family: 'Ubuntu-Medium', sans-serif; width: 235px;
}
.cart-count-right .count, .cart-count-right .count-provider{
	float: left; margin-right: 10px;
}
.cart-count-right .price{
	float: right;
}
.cart-action{
	float: right; margin-top: 15px; margin-right: 15px;
}
.cart-action button{
	display: block; float: left; color: #fff; border-radius: 3px; border: none; padding: 7px 20px;
}
.cart-action .clear{
	margin-right: 15px; background: #979797;
}
.cart-action .do{
	background: #ed4545;
}
.client-data{

}
.main-client-data, .client-address{
	padding: 10px 0; margin: 0 15px;
}
.main-client-data p, .client-address p{
	display: table; float: left;
}
.main-client-data>div{
	margin-left: 100px;
}
.main-client-data>div>span{
	margin-right: 20px;
}
.main-client-data>div>a{
	background: url(../images/edit-client.png) no-repeat; width: 15px; height: 15px; display: inline-block;
}
.client-address>div{
	margin-left: 115px;
}
.client-address .checkbox{
	margin: 0; padding: 0;
}
.client-address a{
	background: #ed4545; color: #fff; padding: 3px 25px; margin-top: 10px; display: inline-block;
}
.date-time{
	border-bottom: 1px solid #ebebea; border-top: 1px solid #ebebea; padding-top: 10px; margin: 0 15px;
}
.date-time .form-group{
	margin-left: -30px;
}




/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.privilleges .col-md-4{
		padding-left: 10px; padding-right: 10px;
	}
	.main-informer .main-subscribe .form-inline input{
		width: 220px;
	}
	.search.form-inline input{
		width: 350px;
	}
	.mobile-search .search.form-inline input{
		width: 600px;
	}
	.filter .filter-cats-country>div{
		padding: 0 10px;
	}
	.filter .filter-cats, .filter .filter-country, .filter .filter-provider, .filter .filter-fabricator{
		width: 145px;
	}
	.results .filter .search-buttons button{
		margin-right: 6px;
	}
	.results-filter .dropdown-menu{
		min-width: 120px;
	}
	.profile-form .col-lg-5{
		padding-right: 0;
	}
	.profile-form .work-day span:nth-of-type(1){
		width: 25px;
	}
	.profile-form .work-day span:last-child{
		margin-left: 0;
	}
	
	#myAffix {
		position: fixed;
	}	
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
	#myAffix {
		position: fixed;
	}
	
	.mobile-nav.navbar{
		border-radius: 0; z-index: 20;
	}
	.mobile-nav.navbar .toggle-button{
		display: block;
	}
	.megamenu-right{
		width: 100%; margin-left: 0;
	}
	.main-tab .best-actions{
		padding-bottom: 0;
	}
	.main-tab .best-actions .col-md-6:nth-of-type(2n-1){
		padding-right: 15px;
	}
	.main-tab .best-actions .col-md-6:nth-of-type(2n){
		padding-left: 15px;
	}
	.main-informer .main-summa, .main-informer .main-subscribe{
		margin-bottom: 15px;
	}
	.main-informer .main-subscribe .form-inline .form-group{
		display: inline-block;
	}
	.privilleges .col-md-4:nth-of-type(3){
		border-right: 1px solid #EEF0F3;
	}
	.mobile-search .search.form-inline input{
		width: 450px;
	}
	.content{
		width: 100%; margin-left: 0;
	}
	.provider-bottom .filter-cats{
		border-right: none;
	}
	.provider-bottom .filter-cats-country>div{
		width: 140px;
	}
	.provider-bottom .filter-cats-country>.search-buttons{
		float: none; padding: 0; padding: 5px 0 0 15px; width: auto; display: table;
	}
	.provider-bottom .search-buttons button{
		margin-right: 6px;
	}
	.provider .all-contacts .time-work a span:first-child{
		display: none;
	}
	.content.results .filter{
		min-height: 100px;
	}
	.results .filter .filter-cats, .results .filter .filter-country, .results .filter .filter-provider, .results .filter .filter-fabricator{
		width: 200px;
	}
	.results .filter .filter-country{
		border-right: none;
	}
	.results .filter .search-buttons{
		padding-left: 0;
	}
	.results .filter .filter-price p{
		margin-bottom: 5px;
	}
	.results-filter .dropdown-menu{
		min-width: 180px;
	}
	.date-time .form-group{
		margin-left: -15px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	#myAffix {
		position: fixed;
	}
	
	/* смена отступов на 10px*/
	.container{
		padding-right: 10px; padding-left: 10px;
	}
	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
		padding-left: 10px; padding-right: 10px;
	}
	.row{
		margin-left: -10px; margin-right: -10px;
	}
	.main-tab .best-actions .col-md-6:nth-of-type(2n-1){
		padding-right: 10px;
	}
	.main-tab .best-actions .col-md-6:nth-of-type(2n){
		padding-left: 10px;
	}
	.two-col-wrapper{
		margin: 0 0 10px 0;
	}
	.main-tab .best-actions{
		padding: 10px 10px 0 10px;
	}
	.main-tab .best-action{
		padding: 10px;
	}
	.main-informer .main-summa p, .main-informer .main-subscribe p{
		text-align: center;
	}
	.main-tab{
		margin-bottom: 10px;
	}
	.main-informer .main-summa, .main-informer .main-subscribe{
		padding: 10px; margin-bottom: 10px;
	}
	.privilleges{
		padding: 10px 0;
	}
	.main-informer{
		margin-bottom: 10px;
	}
	.mobile-search .search.form-inline input{
		display: inline-block;
	}
	.mobile-search .search.form-inline .form-group{
		display: inline-block;
	}
	.tabs-wrapper .nav-tabs>li>a{
		line-height: 46px;
	}

	/* стили для верхней информации страницы поставщика*/
	.provider-top-xs{
		margin: 15px 0;
	}
	.provider-top-xs .name{
		background: #FAFBFC; padding: 10px; overflow: hidden; margin-bottom: 10px; border: 1px solid #E9EEF2; border-radius: 3px;
	}
	.provider-top-xs .name p{
		margin: 10px 0; color: #000; display: table; background: url(../images/check.png) no-repeat center right;
		padding-right: 35px;
	}
	.provider-top-xs .name img{
		float: left; margin-right: 10px;
	}
	.provider-top-xs .name .status{

	}
	.provider-top-xs .name .status span{
		color: #a4a4a4; background: #F1F1F1; border-radius: 1px; padding: 3px 7px; font-size: 10px;
	}
	.provider-top-xs .all-contacts{
		background: #fff; border: 1px solid #E9EEF2; border-radius: 3px;
	}
	.provider .all-contacts a{
		padding: 11px 0;
	}
	.provider .all-contacts .time-work a span:nth-of-type(1){
		display: none;
	}
	.provider-top-xs .params, .provider-top-xs .cats{
		background: #fff; border: 1px solid #E9EEF2; border-radius: 3px; margin-top: 10px;
	}
	.provider-top-xs .params-left{
		padding-left: 0;  color: #8e8e8e; display: block; width: 100%; margin-bottom: 0;
	}
	.provider .params-left li span:last-child{
		width: 70px;
	}
	.provider-top-xs .cats{
		padding: 10px 10px 0 10px;
	}
	.provider .desc{
		padding: 10px 10px 25px 10px; margin: 10px 0 0 0; height: 115px; position: relative;
	}
	.provider .desc .expand{
		padding-left: 10px; margin-left: -10px;
	}
	.provider-tab .col-sm-8{
		padding-right: 10px;
	}





	.provider-bottom .nav-tabs{
		margin-bottom: 0; border: 1px solid #E9EEF2;
	}
	.provider-bottom .filter{
		background: #fff; border-radius: 3px; border: 1px solid #E9EEF2; border-top: none;
		margin-bottom: 10px;
	}
	.provider-bottom .tab-content{
		border: none; background: transparent;
	}
	.provider-bottom .filter-cats-country>.search-buttons{
		min-width: 300px; padding: 10px 0 0 0;
	}
	.provider-bottom .products{
		background: #fff; border: 1px solid #E9EEF2; border-radius: 3px; padding: 10px;
	}
	.provider-bottom .filter{
		padding: 10px;
	}
	.provider-bottom .filter-cats-country>.search-buttons{
		padding-left: 10px; padding-top: 5px;
	}
	.results-tab .col-sm-8{
		padding-right: 10px;
	}
	.results-filter{
		margin-top: 15px;
	}
	.profile .dop-menu{
		margin: 0 0 10px 0;
	}
	.profile .navbar-header{
		cursor: pointer;
	}
	.profile .navbar-brand{
		display: block; font-size: 13px; color: #000; line-height: 42px; height: auto; padding: 0 15px;
	}
	#dop-menu-collapse{
		padding: 0; margin: 0; border-top: 1px solid #E9EEF2;
	}
	.profile .navbar-header button{
		background: #fff; border: 1px solid #E9EEF2;
	}
	.profile .navbar-header button span{
		background: #000;
	}
	.profile .navbar{
		min-height: 42px;
	}
	.profile .navbar-nav{
		padding-left: 0; margin: 0;
	}
	.profile .dop-menu{
		padding: 0;
	}
	.profile .navbar-toggle{
		margin: 5px 15px 5px 0;
	}
	.profile .navbar-toggle .icon-bar{
		width: 15px;
	}
	.profile .navbar-toggle .icon-bar+.icon-bar{
		margin-top: 3px;
	}
	.content.profile .col-sm-8{
		padding-right: 10px;
	}
	.profile-form .input-index{
		padding: 0 10px;
	}
	.profile-product{
		min-height: 55px; padding: 10px 0;
	}
	.profile-product .product-name p{
		float: none; margin-bottom: 3px; border-right: 0;
	}
	.profile-product .product-name span.country{
		padding-left: 0;
	}
	.profile .col-sm-9{
		padding-right: 10px;
	}
	.two-col{
		padding: 10px 0;
	}
	.input-group.price{
		padding: 0 10px;
	}
	.form-horizontal.reg-form .control-label{
		text-align: left; padding: 7px 15px;
	}
	.reg-wrapper{
		width: 90%;
	}
	.form-horizontal.reg-form .reg-input{
		padding: 0 15px;
	}
	.form-horizontal.reg-form .form-group{
		margin-bottom: 10px;
	}
	.form-horizontal.reg-form .control-label{
		width: 100%;
	}
	.check-text{
		display: none;
	}

}

@media only screen and (max-width : 670px) {
	
	#myAffix {
		position: fixed;
	}
	
	.privillege img{
		display: table; margin: 0 auto 10px auto; float: none;
	}
	.privillege p{
		text-align: center;
	}
	.main-informer .main-subscribe .form-inline .form-group{
		display: block;  text-align: center; margin-right: 0; margin-bottom: 10px;
	}
	.main-informer .main-subscribe .form-inline .form-group input{
		display: inline-block; width: 250px;
	}
	.main-informer .main-subscribe .form-inline button{
		float: none; display: table; width: 250px; margin: 0 auto;
	}
	.mobile-search .search.form-inline input{
		width: 250px;
	}

}

@media only screen and (max-width : 650px) {
	
	#myAffix {
		position: fixed;
	}	
	
	.results-filter{
		margin: 0; display: none;
	}
	.results-tab{
		margin-top: 10px;
	}
	.filter-sorting{
		display: none;
	}
	.results-filter-xs{
		background: #fff; padding: 10px; margin-top: 10px; display: block; border: 1px solid #E9EEF2; border-radius: 3px;
		position: relative;
	}
	.results-filter-xs a{
		color: #8e8e8e; font-size: 12px; cursor: pointer;
	}
	.filter-sorting-xs{
		display: table; position: absolute; top: 10px; right: 10px;
	}
	.filter-sorting-xs .dropdown-menu{
		right: 0;
	}
	.content.results .filter{
		min-height: 160px;
	}
	.filter .filter-price{
		border: none; overflow: hidden; margin-bottom: 5px;
	}
	.filter-price p{
		display: inline-block; float: left; width: 70px;
	}
	.filter .filter-cats-country{
		clear: left;
	}
	.filter .filter-cats-country>div{
		padding-left: 0;
	}
	.filter .filter-cats-country>div:nth-of-type(2n-1){
		margin-right: 10px;
	}
	.filter .filter-cats-country>div>a{
		padding-left: 0;
	}
	.filter-cats-country .dropdown-menu{
		width: 200px;
	}
	.results .filter .search-buttons button{
		margin-bottom: 5px;
	}
	.profile-form{
		padding:0 10px;
	}
	.profile-form .form-horizontal .control-label{
		float: none; padding-left: 10px; width: 90%;
	}
	.profile-form .form-horizontal .form-group>div{
		float: none; margin-left: 0; width: 90%; float: left;
	}
	.profile-form .form-horizontal .form-group>div.col-xs-1{
		width: 8%;
	}
	.profile-form .form-horizontal .form-group>div.input-index{
		width: 120px; float: left;
	}
	.profile-form .form-horizontal .form-group{
		margin-bottom: 10px;
	}
}

@media only screen and (max-width : 580px) {
	
	#myAffix {
		position: fixed;
	}
	
	.cart-product-right{
		width: 61px;
	}
	.cart-product-right .count, .cart-product-right .price{
		float: none;
	}
	.cart-product-right .count{
		padding-bottom: 5px;
	}
	.cart-product .product-info{
		margin-right: 71px;
	}
	.cart-header .red-button{
		display: none;
	}
	.main-client-data, .client-address, .date-time{
		font-size: 12px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	
	#myAffix {
		position: fixed;
	}
	
	.main-tab .all-actions{
		width: 20px; height: 48px; top: 0; right: 10px; border-left: 1px solid #e9eef2;
	}
	.main-tab .all-actions span{
		display: none;
	}
	.mobile-banner{
		height: 200px;
	}
	.mobile-search .search.form-inline input{
		width: 200px;
	}
	.provider-bottom .filter-cats-country>.search-buttons{
		padding-left: 0;
	}
	.provider-bottom .filter-cats-country>.search-buttons{
		padding-left: 0;
	}
	.results .filter .filter-cats, .results .filter .filter-country, .results .filter .filter-provider, .results .filter .filter-fabricator{
		width: 150px;
	}
	.results .filter-cats-country .dropdown-menu{
		width: 150px;
	}


}

@media only screen and (max-width : 400px) {
	
	#myAffix {
		position: fixed;
	}
	
	.privilleges .col-md-4, .privilleges .col-md-4:nth-of-type(3){
		padding: 0 5px; border-right: none;
	}
	.main-tab .nav-tabs>li>a{
		font-size: 13px; padding: 0 3px;
	}
	.main-tab .nav-tabs>li>a>span:last-child{
		padding-left: 2px;
	}
	.mobile-search .search.form-inline input{
		width: 150px;
	}
	.tabs-wrapper .nav-tabs>li>a{
		font-size: 13px; padding: 0 4px; margin-right: 0;
	}
	.tabs-wrapper .nav-tabs>li:last-child>a{
		margin-right: 0;
	}
	.tabs-wrapper .nav-tabs>li>a>span:last-child{
		padding-left: 3px;
	}
	.provider-bottom .filter-cats-country>div{
		padding: 0 5px;
	}
	.provider-bottom .filter-price{
		padding-right: 5px;
	}
	.results .filter .filter-cats, .results .filter .filter-country, .results .filter .filter-provider, .results .filter .filter-fabricator{
		width: 200px; border: none;
	}
	.results .filter-cats-country .dropdown-menu{
		width: 200px;
	}
	.content.results .filter{
		min-height: 220px;
	}
	.profile-product .product-price{
		float: none; padding-left: 0; padding-top: 5px; clear: left;
	}
	.reg-top-right{
		float: inherit;
	}
	.reg-top-right a{
		float: right;
	}
	.cart-action button{
		padding: 7px 10px;
	}
}


.products-image {
	width: 34px;
	height: 34px;
	text-align: center;
	display: inline-block;
	float: left;
	margin-right: 15px;	
	margin-top: 5px;
}

.products-image img {
	height: 100%;
	text-align: center;
	
}

.profile-product  {
	min-height: 50px;
}

a.fa-file-excel-o {
    font-size: 15px;
    color: #000;
    border: none;
    line-height: 50px;
}

input[type="password"] {
	position: relative;
}

.show-password-link {
  background: url(../images/eye.png) no-repeat center center;
  width: 23px;
  height: 14px;
}

.red-eye {
  background: url(../images/red_eye.png) no-repeat center center;
  width: 23px;
  height: 14px;
}

.password-showing,
.password {

}

.password-showing {
	border-radius: 0;
}

.show-password-link {
    display: block;
    position: absolute;
    z-index: 11;
}
.password-showing {
    position: absolute;
    z-index: 10;
}
.question {
	width: 5px;
	height: 10px;
	background: url(../images/question.png) no-repeat center center;
	display: inline-block;
	cursor: pointer;
	padding: 10px;
	float: left;
}

.question:hover {
	background-color: #F0F2F5;
    border-radius: 15px;
}

.checkbox label {
	width: auto;
	float: left;
	margin-right: 10px;
}

.hidden-item>div{
    column-gap: 1.5em; /* Общее расстояние между колонками */
    -moz-column-gap: 1.5em; /* Расстояние между колонками для Firefox */
    -webkit-column-gap: 1.5em; /* Расстояние между колонками  для Safari, Chrome и iOS */
}
 
/* Элементы в виде плиток с содержанием */
.hidden-menu-column {
    display: inline-block;
	
    width: 100%;
    box-sizing: border-box; /* Изменения алгоритма расчета ширины и высоты элемента.*/
    -moz-box-sizing: border-box; /* Для Firefox */ 
    -webkit-box-sizing: border-box; /* Для Safari, Chrome, iOS иAndroid */ 
   
}
 
.hidden-menu-column a:last-child {
	margin-bottom: 15px;
}
 
/* Медиа-запросы для различных размеров адаптивного макета */
@media only screen and (min-width: 400px) {
    .hidden-item>div {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
 
@media only screen and (min-width: 700px) {
    .hidden-item>div {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
 
@media only screen and (min-width: 900px) {
    .hidden-item>div {
        -moz-column-count: 6;
        -webkit-column-count: 6;
        column-count: 6;
		height: 459px;
		width: 775px;
    }
}
 
@media only screen and (min-width: 1100px) {
    .hidden-item>div {
        -moz-column-count: 6;
        -webkit-column-count: 6;
        column-count: 6;
		height: 445px;
		width: 975px;
    }
}

#panel > div > div > div > div:nth-child(2) {
	border-right: 1px solid #e9eef2;
}

.reg-type-img {
	margin: 25px auto 10px auto;
}

.reg-col h3 {
	font-weight: bold;
	margin-bottom: 40px;
}

.reg-sub {
	margin-top: 20px;
	margin-bottom: 10px;
}