/*заказы покупателя*/

.profile-content.order {
	padding-bottom: 0;
}

.heading-order {
	font: 14px 'Ubuntu-Light'; 
	padding: 15px; 
	display: inline-block; 
	border-bottom: 2px solid #d92828; 
	margin-left: 15px;
}

.panel-body {
	padding-top: 0;
}

.profile-content.order .panel {
	border: none;
}

.panel-group {
	border-top: 1px solid #ebebea;
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
	border: none;
}

.panel-default>.panel-heading {
	background: none;
	border-radius: 0;
}

.panel-heading {
	border-radius: 0;
	padding-bottom: 0;
}

.accordion-btn:hover,
.accordion-btn:focus {
	color: #000;
	text-decoration: none;
}

.accordion-btn {
	background: url("../images/cart-arrow.png") no-repeat 2% 50%;
	color: #000;
	display: block;
	text-decoration: none;
}

.accordion-btn.active{
	background: #ed4545 url("../images/cart-up.png") no-repeat 2% 50%;
	color: #fff;
	display: block;
	text-decoration: none;
}

.panel-heading.panel-default.non-active{
	background: #fff url("../images/cart-arrow.png") no-repeat 2% 50%;
	color: #000;
}

.panel-heading.panel-default.active .panel-title {
	border: none;
}

.panel-group .panel+.panel {
	margin-top: 0;
}

.accordion-btn.active .panel-title {
	border: none;
}

.accordion-btn.active .panel-title.off {
	border-bottom: 1px solid #ebebea;
}

.panel-title {
	border-bottom: 1px solid #ebebea;
	font-size: 14px;
	padding-bottom: 10px;
}

.panel-title .toggle-btn {
	display: inline-block;
	padding-left: 20px;
	text-decoration: none;
}

.panel-title span {
	/*margin-left: 14%;*/
	margin-left:0px;
}

.panel-title .grey-btn {
	float:right;
	background: #a0b4c9;
	border: none;
	border-radius: 3px;
	color: #fff;
	font-size: 14px;
	padding: 3px 20px;
}

.panel-title .change-btn {
	background: none;
	border: none;
	float: right;
	padding-left:15px;
}

.panel-title .change-btn:hover {
	text-decoration: underline;
}

.cart-product.order .product-info {
	margin-left: 0;
}

.product-info.last, .cart-product-right.last {
	opacity: 0.8;
} 

.product-name.last {
	text-decoration: line-through;
}

.cart-total.order {
	border-top: 0;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
}

.cart-count-right.order .count button {
	background: url("../images/pencil-icon.png") no-repeat;
	float: none;
}

.cart-count-right.order {
	width: 210px;
}

.cart-count-right .count button {
    display: inline;
    width: 16px;
    height: 16px;
    border: none;
    float: left;
    margin-right: 2px;
}

.cart-product-right.order .count button {
	background: url("../images/pencil-icon.png") no-repeat;
	float: none;
}

.cart-product-right.order .count button  {
	width: 16px;
    height: 16px;
}

.product-info.desc-order {
	font-size: 14px;
	line-height: 2;
	margin: 0; 
}

.product-info.desc-order .text-order {
	margin-left: 20px;
}

.info-order {
	display: inline-block;
	width: 90px;
}

.light-grey-btn {
	background: #979797;
	color: #fff;
	border-radius: 3px;
	padding: 5px 30px;
}

.light-grey-btn:hover {
	color: #fff;
	cursor: pointer;
}

.cart-product.order:last-child{
	border-bottom: 1px solid #ebebea;
	padding-bottom: 15px;
}

.panel-group {
	margin-bottom: 0;
}

/*входящие заказы поставщика*/

.heading-order.non-active {
	border: none;
}

.red-btn {
	background: #ed4545;
	color: #fff;
	border-radius: 3px;
	padding: 5px 30px;
}

.red-btn.edit {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.red-btn.order {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.light-grey-btn.refuse {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.red-btn:hover {
	color: #fff;
	cursor: pointer;
}

.order .nav.nav-tabs {
	border: none;
}

.order .nav.nav-tabs a {
	border: none;

}