body {
	background: #FFFFFF;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #4f5252;
	font-weight: 400;
}
ul, ol, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.reorder_link {
	color: #3675B4;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	transition: all 0.35s;
	-moz-transition: all 0.35s;
	-webkit-transition: all 0.35s;
	-o-transition: all 0.35s;
	white-space: nowrap;
}

#reorder-helper{margin: 18px 10px;padding: 10px;}
.light_box {
	background: #efefef;
	padding: 20px;
	margin: 10px 0;
	text-align: center;
	font-size: 1.2em;
}

.gallery{ width:975px; height: 445px; margin:100px auto;}
.gallery ul{ margin:0; padding:0; list-style-type:none; display: inline-block;}
.gallery ul li{ padding:7px; border:2px solid #ccc; float:left; margin:10px 7px; background:none; width:16%; text-align: center; height:auto; color: #8e8e8e; display: block; font: 13px 'Ubuntu', sans-serif;}
.gallery ul li a { color: #8e8e8e; text-decoration: none; }
.gallery ul li ul { display: inline-block; width: 100%; margin-top: 5px; }
.gallery ul li ul li { display: inline-block; width: 100%; float: left; border: 0; padding: 2px 0; margin: 0; font-size: 12px; color: #000; }
.gallery ul li ul li a { color: #000; }

/* NOTICE */
.notice, .notice a{ color: #fff !important; }
.notice { z-index: 8888; }
.notice a { font-weight: bold; }
.notice_error { background: #E46360; }
.notice_success { background: #657E3F; }